.m ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:rgb(12, 209, 90);
    

}
.m li{
    display: inline; float: left;
}
.m li a{
    display: block;
    padding: 30px; 
    text-decoration:wavy;
    color:blue;
    font-family: 'Times New Roman', Times, serif;
    font-weight:lighter;
    

}
.m li a:hover{
    background-color:rgb(13, 193, 13);
}

.footer{
    position:fixed ;
    bottom: 0;
    color: black;
    width: 8%;
    padding: 5px;
}
.m ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:rgb(12, 209, 90);
    

}
.m li{
    display: inline; float: left;
}
.m li a{
    display: block;
    padding: 30px; 
    text-decoration:wavy;
    color:blue;
    font-family: 'Times New Roman', Times, serif;
    font-weight:lighter;
    

}
.m li a:hover{
    background-color:rgb(13, 193, 13);
}

.footer{
    position:fixed ;
    bottom: 0;
    color: black;
    width: 8%;
    padding: 5px;
}
